# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual environments
.env/
.venv/
venv/
ENV/
env/

# ========================
# Environment variables
# ========================
.env
.env.*

# ========================
# Playwright
# ========================
auth_*.json
*.har
playwright-report/
test-results/

# ========================
# Pytest / Cache
# ========================
.pytest_cache/
.cache/

# ========================
# Allure Reports
# ========================
allure-results/
allure-report/

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Node
# ========================
node_modules/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/
*.iml

# ========================
# Coverage
# ========================
.coverage
.coverage.*
htmlcov/

# ========================
# Temporary files
# ========================
*.tmp
*.swp
*.swo